<ion-view view-title="Registro">
  <ion-content>
  	 <div class="row">
	 <div class="col col-50 mx-auto">
	  	   <h1 class="text-center pt-3">Bienvenido a TIN</h1>
	  	   <h4 class="text-center pt-1">Registrate</h4>
			<div class="list">
				  <label class="item item-input item-stacked-label">
				    <span class="input-label">Nombre </span>
				    <input type="text" placeholder="Ingresa tu nombre">
				  </label>
				  <label class="item item-input item-stacked-label">
				    <span class="input-label">Apellido</span>
				    <input type="text" placeholder="Ingresa tu apellido">
				  </label>
				  <label class="item item-input item-stacked-label">
				    <span class="input-label">Correo</span>
				    <input type="email" placeholder="Ingresa tu correo">
				  </label>
				  <label class="item item-input item-stacked-label">
				    <span class="input-label">Contraseña</span>
				    <input type="password" placeholder="Ingresa tu contraseña">
				  </label>
				  <h3 class="text-center pt-1 pb-2">Ubicación</h3>
				  <label class="item item-input item-select">
				    <div class="input-label">
				      Departamento
				    </div>
				    <select>
				      <option selected>Seleccione departamento</option>
				      <option>Opcion1</option>
				      <option>Opcion2</option>
				      <option>Opcion3</option>
				    </select>
				  </label>
				  <label class="item item-input item-select">
				    <div class="input-label">
				      Ciudad
				    </div>
				    <select>
				      <option selected>Seleccione ciudad</option>
				      <option>Opcion1</option>
				      <option>Opcion2</option>
				      <option>Opcion3</option>
				    </select>
				  </label>
				  <button class="button button-block button-positive">
					  Registrarse
				  </button>
			</div>
	  </div>
	</div>
	<div class="row">
		 <div class="col col-25 mx-auto">
		 	  <h4 class="text-center">o inicia sesion con:</h4>
		 	  <br>
		 	  <br>
		 	  <br>
	          <p class="text-center"><button class="button icon ion-social-facebook" ng-click="fn_loginFacebook()"></button></p>

		</div>
	</div>
<!--<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
<div id="status">
</div>-->
<a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">Login with Facebook</a>
<a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">cerrar sesion</a>

<img ng-hide="imagen!=undefined && imagen==null " ng-src="{{imagen}}">

    <!--<ion-list>
      <ion-item ng-repeat="productos in productos" href="#/app/productos/{{producto.id}}">
        {{productos.title}}
      </ion-item>
    </ion-list>-->

	<a ui-sref="app.ubicaciones">mapa</a>

  </ion-content>
</ion-view>
