/* ============ ESTILOS GLOBALES APLICACION ============ */
.sidemenu{left:-275px;}
.sidemenu.menuOpen{left:0px;}
/*
#sidemenu
{
  width:0px !important;
}
*/

/* ---------------------------------------------------
  FUENTES TEXTOS
----------------------------------------------------- */

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/Roboto-Medium.eot#') format('eot'),
       url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
       url('../fonts/Roboto/Roboto-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/roboto-Regular.eot#') format('eot'),
       url('../fonts/Roboto/roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
       url('../fonts/Roboto/roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.eot#') format('eot'),
       url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
       url('../fonts/Roboto/Roboto-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto/Roboto-Light.eot#') format('eot'),
       url('../fonts/Roboto/Roboto-Light.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Light.ttf') format('truetype'),
       url('../fonts/Roboto/Roboto-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto/Roboto-Thin.eot#') format('eot'),
       url('../fonts/Roboto/Roboto-Thin.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype'),
       url('../fonts/Roboto/Roboto-Thin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ---------------------------------------------------
  FUENTES CUSTOM ICONOGRAFICAS
----------------------------------------------------- */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/fontsIconograficas/icomoon.eot?pn1ki0');
  src:  url('../fonts/fontsIconograficas/icomoon.eot?pn1ki0#iefix') format('embedded-opentype'),
    url('../fonts/fontsIconograficas/icomoon.ttf?pn1ki0') format('truetype'),
    url('../fonts/fontsIconograficas/icomoon.woff?pn1ki0') format('woff'),
    url('../fonts/fontsIconograficas/icomoon.svg?pn1ki0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/fontsIconograficas/presicion/icomoon.eot?i341ac');
  src:  url('../fonts/fontsIconograficas/presicion/icomoon.eot?i341ac#iefix') format('embedded-opentype'),
    url('../fonts/fontsIconograficas/presicion/icomoon.ttf?i341ac') format('truetype'),
    url('../fonts/fontsIconograficas/presicion/icomoon.woff?i341ac') format('woff'),
    url('../fonts/fontsIconograficas/presicion/icomoon.svg?i341ac#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/fontsIconograficas/categoria/icomoon.eot?ejorvj');
  src:  url('../fonts/fontsIconograficas/categoria/icomoon.eot?ejorvj#iefix') format('embedded-opentype'),
    url('../fonts/fontsIconograficas/categoria/icomoon.ttf?ejorvj') format('truetype'),
    url('../fonts/fontsIconograficas/categoria/icomoon.woff?ejorvj') format('woff'),
    url('../fonts/fontsIconograficas/categoria/icomoon.svg?ejorvj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/fontsIconograficas/meGusta/icomoon.eot?iof120');
  src:  url('../fonts/fontsIconograficas/meGusta/icomoon.eot?iof120#iefix') format('embedded-opentype'),
    url('../fonts/fontsIconograficas/meGusta/icomoon.ttf?iof120') format('truetype'),
    url('../fonts/fontsIconograficas/meGusta/icomoon.woff?iof120') format('woff'),
    url('../fonts/fontsIconograficas/meGusta/icomoon.svg?iof120#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mapa:before {
  content: "\e900";
  color: #FAFAF8;
  font-size: 25px;
  position: relative;
  top: 4px;
}

.icon-precision:before {
  content: "\e901";
  color: #fff;
  color: #FAFAF8;
  font-size: 20px;
  position: relative;
  top: 1px;
}

.icon-categoria:before {
  content: "\e903";
  color: #cd1031;
  font-size: 20px;
}

.icon-megusta-act:before {
  content: "\e904";
  color: #df3227;
  font-size: 25px;
  position: relative;
  top: 7px;
}
.icon-megusta-inact:before {
  content: "\e905";
  color: #bcbec0;
  font-size: 25px;
  position: relative;
  top: 7px;
}

.fa-map-marker-alt {

}


.contenedor_icono_categoria {
  -webkit-box-shadow: 0px 4px 7px 0px rgba(97,97,97,0.55);
  -moz-box-shadow: 0px 4px 7px 0px rgba(97,97,97,0.55);
  box-shadow: 0px 4px 7px 0px rgba(97,97,97,0.55);
}

/* ---------------------------------------------------
  ICONOGRAFIA SIDEMENU
----------------------------------------------------- */

.icono_ofertas:before {
  content: url('../img/iconografia/side_menu/ofertas.svg');
} 

.icono_ofertas
{
  width: 26px;
  height: 36px;
}

.icono_negocios:before {
  content: url('../img/iconografia/side_menu/negocio.svg');
} 

.icono_negocios
{
  width: 22px;
  height: 32px;
}

.icono_favoritos:before {
  content: url('../img/iconografia/side_menu/favoritos.svg');
} 

.icono_favoritos
{
  width: 22px;
  height: 32px;
}

.icono_cupones:before {
  content: url('../img/iconografia/side_menu/cupon.svg');
} 

.icono_cupones
{
  width: 22px;
  height: 32px;
}

.icono_mis_cupones:before {
  content: url('../img/iconografia/side_menu/misCupones.svg');
} 

.icono_mis_cupones
{
  width: 22px;
  height: 32px;
}

.icono_mis_tins:before {
  content: url('../img/iconografia/side_menu/misTins.svg');
} 

.icono_mis_tins
{
  width: 30px;
  height: 40px;
}

.icono_cerrar_sesion:before {
  content: url('../img/iconografia/side_menu/cerrarSesion.svg');
} 

.icono_cerrar_sesion
{
  width: 30px;
  height: 40px;
}

/* ============ SETEADO DE PROPIEDADES NAVEGADOR ============ */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

* {
  box-sizing: border-box;
}

ol, ul {
  list-style: inherit !important;
  list-style-type: circle !important;
  color: #CD1031;
}

html, body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 !important;
  width: 100%;
  height: 100% !important;
}

.viewport_inicial {
  width: 100%;
  height: 100%;
}

.scroll {
  min-height: 100%;
  height: 100%;
}

.scroll-content > .scroll {
  height: 100%;
  __background-color: #FAFAF8;
}

.scroll-content {
  __background-color: #FAFAF8;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

::-webkit-input-placeholder { font-size: 13.59px; color: #999999 !important; font-family: "roboto-Regular"; text-align: left !important; line-height:; position: relative;} /* WebKit */
:-moz-placeholder { font-size: 13.59px; color: #999999 !important; font-family: "roboto-Regular"; text-align: left !important; line-height:; position: relative;} /* Firefox 18- */
::-moz-placeholder { font-size: 13.59px; color: #999999 !important; font-family: "roboto-Regular"; text-align: left !important; line-height:; position: relative;} /* Firefox 19+ */
:-ms-input-placeholder { font-size: 13.59px; color: #999999 !important; font-family: "roboto-Regular"; text-align: left !important; line-height:; position: relative;} /* IE 10+ */
input-placeholder { font-size: 13.59px; color: #999999 !important; font-family: "roboto-Regular"; text-align: left !important; line-height:; position: relative;} /* IE 10+ */

textarea:focus {
  outline: none !important;
  border: 2px solid #2F4B95 !important; 
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #050F37;
  font-family: 'Roboto-Light', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 13px;
}

.set_cursor {
  cursor: pointer;
}

.set_margin_content_top_productos_ionic {
  position: absolute;
  top: 87px;
  bottom: 40px;
}

.set_margin_content_top_less_ionic {
  position: absolute;
  top: 70px;
}

.set_margin_content_top_less_two_ionic {
  position: absolute;
  top: 82px;
}

.set_margin_content_top_less_tree_ionic {
  position: absolute;
  top: 82px;
}

.set_margin_content_top_less_four_ionic {
  position: absolute;
  top: 88px;
}

.set_margin_content_top_more_ionic {
  position: relative;
  top: 10px
}

/* ============ TERMINA ESTILOS GLOBALES APLICACION ============ */

/* ============ ANIMACION GLOBAL PULSE ============ */

.pulse_custom {
  overflow: initial;
  position: relative;
}

.pulse_custom::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
          animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1;
}

@-webkit-keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

/* ============ TERMINA ANIMACION GLOBAL PULSE ============ */

/* ============ FORMAS DE CENTRADO ============ */

/* ---------------------------------------------------
  CENTRADO PADRE > HIJO
----------------------------------------------------- */

.contenedor_padre {
  width: 100%;
  height: auto;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contenedor_hijo {
  width: 80%;
  height: auto;
}

/* ---------------------------------------------------
  CENTRADO RELATIVO
----------------------------------------------------- */

.contenido_centrado {
  width: 100%;
  position: absolute !important;
  top: 50%; 
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ---------------------------------------------------
  CENTRADO ABSOLUTO
----------------------------------------------------- */

.contenido_centrado_dos {
  width: 100%;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  margin: auto;
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-wrap: break-word;
}

.contenido_centrado_tres {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
}

/* ============ TERMINA FORMAS DE CENTRADO ============ */

/* ============ ESTILOS GLOBALES TIN APP ============ */

/* ---------------------------------------------------
  BACGROUND COLOR APP
----------------------------------------------------- */

.bg_azul_oscuro {
  background: #050F37 !important;
}

.bg_azul_claro {
  background: #2F4B95 !important;
}

.bg_azul_gris {
  background: #FAFAF8 !important;
}

.bg_azul_facebook {
  background: #3B5A9A !important;
}

.bg_rojo {
  background-color: #CD1031 !important;
}

.bg_gris_oscuro {
  background-color: #212529 !important;
}

.bg_transparent {
  background-color: transparent !important;
}

.bg_verde {
  background-color: #64AF2E !important;
}

/* ---------------------------------------------------
  TXT COLOR APP
----------------------------------------------------- */

.txt_color_gris_oscuro {
  color: #606060 !important;
}

.txt_color_blanco {
  color: #FAFAF8 !important;
}

.txt_color_gris_claro {
  color: #B4B4B2 !important;
}

.txt_color_negro {
  color: #212529 !important;
}

.txt_color_verde {
  color: #64AF2E !important;
}

.txt_color_rojo {
  color: #CD1031 !important;
}

.txt_color_azul_oscuro {
  color: #050F37 !important;
}

.txt_color_azul_claro {
  color: #2F4B95 !important;
}

/* ---------------------------------------------------
  TAMAÑO FUENTE TXT
----------------------------------------------------- */

.wor_wra {
  -ms-word-wrap:break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 1.2rem;
}

.txt_xl {
  font-size: 19px;
}

.txt_lg {
  font-size: 24px;
}

.txt_md {
  font-size: 21px;
}

.txt_sm {
  font-size: 14px;
}

.txt_xs {
  font-size: 13px;
}

.txt_xs_mini {
  font-size: 11px;
}


.txt_xs_button {
  font-size: 10px;
}

.txt_categoria {
  font-size: 12px;
}


/* ---------------------------------------------------
  TIPO FUENTE TXT
----------------------------------------------------- */

.tip_fuen_roboto_m {
  font-family: 'Roboto-Medium', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.tip_fuen_roboto_r {
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.tip_fuen_roboto_b {
  font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.tip_fuen_roboto_l {
  font-family: 'Roboto-Light', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.tip_fuen_roboto_t {
  font-family: 'Roboto-Thin', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* ---------------------------------------------------
    POSICION TXT
----------------------------------------------------- */

.text_center {
	text-align: center;
}

.text_left {
	text-align: left;
}

.text_right {
	text-align: right;
}

/* ---------------------------------------------------
  ESTILOS CHECKBUTTONS Y RADIOBUTTONS
----------------------------------------------------- */

.control_checkbox, .control_radio {
  text-align: left;
  padding: 5px 0px 0px 0px;
  __margin: 10px;
}

.control {
  display: block;
  position: relative;
  padding-left: 25px;
  __margin-bottom: 15px;
  margin-bottom: 5px !important;
  cursor: pointer;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 1px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #33E789;
  border-radius: 4px;
}

.control input:checked ~ .control__indicator {
  background: #33E789;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #33E789;
}

.control input:disabled ~ .control__indicator {
  background: #F5F5F5;
  opacity: 0.6;
  pointer-events: none;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox .control__indicator:after {
  left: 7px;
  top: 4px;
  width: 4px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control--radio .control__indicator:after {
  left: 6px;
  top: 6px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #2E074A;
}

/* ---------------------------------------------------
  ESTILOS GENERICOS VALIDACIONES
----------------------------------------------------- */

.alert-success{
  color: #3c763d !important;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.span_wrong{
  border-color: #FF473D;
  color: #FF473D;
  text-align: justify;
  font-family: 'Roboto-Light', Helvetica, Arial, sans-serif;
  font-weight: 900;
}

.input_wrong{
  border-bottom:2px solid #FF473D!important;
}

textarea.input_wrong {
  border:2px solid #FF473D!important;
}

.item-personalizado.errorl{
  border: 1px solid #FF0000;
}

.item-personalizado-comentarios.errorl{
  border: 1px solid #FF0000 !important;
}

.item-personalizado-solicitud-info.errorl{
  border: 1px solid #FF0000 !important;
}

label.error {
  border: 1px solid #f00;
}

label.error {
  line-height: 0; 
  font-size: 12px;
  border:0px;
  color:#dd4b39;
  text-align: center;
}

.error {
  color: #dd4b39;
}

/* ---------------------------------------------------
  RECUPERAR CONTRASEÑA
----------------------------------------------------- */

.formulario_custom.formRecuperarContrasena .group.-ionic > .field {
    height: 2.4rem;
    text-indent: 15px;
    border-radius: 0px;
    border-bottom: 2px solid #FAFAF8 !important;
    border-top: none;
    color: #FAFAF8;
    font-family: 'Roboto-Light', Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 12px;
    border-left: none;
    border-right: none;
    background-color: transparent;
}

/* ---------------------------------------------------
  ESTILOS FORMULARIOS CUSTOM
----------------------------------------------------- */

.formulario_custom {
  width: 100%;
  background-color: transparent;
}

.formulario_custom .group {
  position: relative;
  width: 100%;
  margin-bottom: 0.5rem;
}

.formulario_custom .group.-ionic > .field {
  height: 2.4rem;
  text-indent: 15px;
  border-radius: 0px;
  border: 2px solid #050F37;
  font-family: 'Roboto-Light', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 12px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}

.formulario_custom .group.-ionic > .field:focus, .formulario_custom .group.-ionic > .field:valid {
  border-color: #2F4B95;
}

.formulario_custom .group.-ionic > .field:focus + .title, .formulario_custom .group.-ionic > .field:valid + .title {
  top: -2px;
  color: #2F4B95;
}

.formulario_custom .group.-ionic > .field + .title {
  padding: 0 .0rem;
  background-color: transparent;
}

.formulario_custom .group > .field {
  width: 100%;
  border: 0;
  outline: none;
}

.formulario_custom .group > .field + .title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
         transition: .3s;
  pointer-events: none;
}

.formulario_custom .group > .field:focus + .title, .formulario_custom .group > .field:valid + .title {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  font-size: .75rem;
}

/* ---------------------------------------------------
  TEXTAREA CUSTOM
----------------------------------------------------- */

textarea:focus {
  outline: none !important;
  border: 2px solid #2F4B95 !important;
}

/* ---------------------------------------------------
  INPUT SELECT CUSTOM
----------------------------------------------------- */
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
  padding: 0px;
}

.select_custom {
  height: 2.4rem;
  text-indent: 15px;
  border-radius: 0px;
  border: 2px solid #050F37;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}

.select_custom_set{
  text-indent:0px !important;
}

select:focus,
.uneditable-input:focus {   
  border-color: transparent;
  border-bottom-color: #050F37 !important;
  box-shadow: 0 0px 0px transparent, 0 0 0px transparent !important;
  outline: 0 none !important;
}

.map-container
{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; 
}

.map
{
  height: 100%;
  width: 100%;
}

/* ============ ESTILOS GLOBALES IONIC ============ */

/* ---------------------------------------------------
    BACKDROP POPUP IONIC CUSTOM 
----------------------------------------------------- */ 

#vista_descripcion .has-footer {
  bottom: 60px;
}

/* ---------------------------------------------------
    BACKDROP POPUP IONIC CUSTOM 
----------------------------------------------------- */ 

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6) !important;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.1s opacity linear;
  transition: 0.1s opacity linear;
}

/* ---------------------------------------------------
    BAR TITLE IONIC CUSTOM 
----------------------------------------------------- */

.bar .title {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  margin: 0 10px;
  min-width: 30px;
  height: 43px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 500;
  line-height: 44px;
}

/* ---------------------------------------------------
    ITEM LIST IONIC CUSTOM 
----------------------------------------------------- */

.checkbox input:before, .checkbox-icon:before {
  display: table;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 28px;
  background: #FAFAF8;
  content: ' ';
  -webkit-transition: background-color 20ms ease-in-out;
  transition: background-color 20ms ease-in-out;
}

/* ---------------------------------------------------
    CARD IONIC CUSTOM 
----------------------------------------------------- */

.card {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------------
    POPUP IONIC CUSTOM 
----------------------------------------------------- */

.popup-container .popup {
  width: 250px;
  max-width: 100%;
  max-height: 90%;
  border-radius: 5px !important;
  background-color: rgba(250, 250, 248, 1) !important;
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.3), 0 2px 2px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,0.3), 0 2px 2px rgba(0,0,0,0.22);
  -ms-box-shadow: 0 0px 2px rgba(0,0,0,0.3), 0 2px 2px rgba(0,0,0,0.22);
  box-shadow: 0 0px 2px rgba(0,0,0,0.3), 0 2px 2px rgba(0,0,0,0.22);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popup-head {
  background-color: #CD1031;
  border-radius: 5px 5px 0px 0px !important;
}

.popup-title {
  color: #FAFAF8;
  font-family: 'Roboto-Light', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 14px;
}

.popup-sub-title {
  color: #FAFAF8;
  font-family: 'Roboto-Light', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 12px;
}

.popup-body {
  background-color: #FAFAF8;
  color: #212529;
}

.popup-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 10px;
  min-height: 55px;
  width: 130px !important;
  margin: 0 auto;
}

.popup-buttons .button {
  background-color: #FAFAF8;
  font-size: 13px;
  font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #050F37 !important;
  border: 0 !important;
  font-size: 13.2px;
}

.popup-buttons .button.activated {
  background-color: #FAFAF8;
  color: #050F37 !important;
  border: 0 !important;
  font-size: 13.2px;
}

/* ---------------------------------------------------
    CHECKBOX IONIC CUSTOM
----------------------------------------------------- */

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #CD1031 !important;
    border-color: #CD1031 !important;
}

/* ---------------------------------------------------
    BUTTONS IONIC CUSTOM
----------------------------------------------------- */

.button {
  border-color: transparent;
  background-color: #f8f8f8;
  color: #444;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  min-width: 52px;
  min-height: 28px !important;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  __line-height: 28px !important;
  cursor: pointer;
}

/* ---------------------------------------------------
  ICONO HEADER MENU DESPLEGABLE
----------------------------------------------------- */

.shadow_header {
  -webkit-box-shadow: 0px 5px 16px -8px rgba(99,98,99,1);
  -moz-box-shadow: 0px 5px 16px -8px rgba(99,98,99,1);
  box-shadow: 0px 5px 16px -8px rgba(99,98,99,1);
}

.bar-stable .button.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #FAFAF8;
  font-size: 17px;
}

/* ---------------------------------------------------
  OPCIONES SIDEMENU - IONIC
----------------------------------------------------- */

.bar.bar-stable.bar_custom  {
  border-color: #CD1031;
  background-color: #CD1031;
  color: #444;
}

.menu-open .shadowMenu {
  -webkit-box-shadow: 9px 0px 16px -8px rgba(99,98,99,1);
  -moz-box-shadow: 9px 0px 16px -8px rgba(99,98,99,1);
  box-shadow: 9px 0px 16px -8px rgba(99,98,99,1);
  z-index: 1000 !important;
}

.fondo_menu_desplegable {
  background-color: #CD1031;
}

.item.items_side_menu_custom {
  border-color: #ddd;
  background-color: transparent;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 2px;
  border-width: 0px;
  border-style: solid;
  font-size: 16px;
  text-align: left;
}

.fondo_menu_desplegable .item-complex .item-content, .item-radio .item-content{
  position: relative;
  z-index: 2;
  padding: 0px 0px 0px 0px;
  border: none;
  background-color: #CD1031;
  color: #FFF;
  text-align: left;
}

#side_menu_custom .item {
  border-color: transparent;
  background-color: transparent;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  line-height: 10px;
}

.side_menu_custom .item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.icon.ion-person {
  font-size: 25px;
  color: #FFF;
  padding-right: 10px;
}

/* ---------------------------------------------------
  LOGO HEADER TIN
----------------------------------------------------- */

.logo_header_tin {
  width: 100%;
  height: 35px;
  margin: 4px auto;
}

/* ---------------------------------------------------
  LOGO SIDEMENU TIN
----------------------------------------------------- */

.logo_sidemenu_tin {
  width: 100%;
  height: 35px;
  margin: 8px 0px 5px -2px;
}

/* ---------------------------------------------------
    ROW CUSTOM IONIC
----------------------------------------------------- */

.row + .row {
  margin-top: -38px !important;
  padding-top: 0;
}

/* ---------------------------------------------------
    PADDING CUSTOM CARD
----------------------------------------------------- */

.card, .list-inset {
  overflow: hidden;
  margin: 4px 4px;
  border-radius: 6px;
  background-color: #fff;
}

/* ---------------------------------------------------
    BOTONES OUTLINE CUSTOM
----------------------------------------------------- */

.button.button-positive.button-outline {
    border-color: #CD1031;
    background: transparent;
    color: #CD1031;
}

.button.button-assertive.button-outline {
    border-color: #CD1031;
    background: transparent;
    color: #CD1031;
}

/* ---------------------------------------------------
  GRID CUSTOM IONIC
----------------------------------------------------- */

.col-80 {
  width: 80% !important;
}

/* ============ TERMINA ESTILOS GLOBALES IONIC ============ */

/* ---------------------------------------------------
    CUSTOM TAMAÑO ICONO FONTAWASOME
----------------------------------------------------- */

.fa-sm {
  font-size: 1.0em !important;
}

/* ---------------------------------------------------
    CUSTOM WIDTH BOOTSTRAP 4
----------------------------------------------------- */

.w-95 {
  width: 95% !important;
}

.w-80 {
  width: 85% !important;
}

.w-45 {
  width: 45% !important;
}

.h-45 {
  height: 45% !important;
}

.h-12 {
  height: 60px !important;
}

/* ============ TERMINA ESTILOS GLOBALES TIN APP ============ */

/* ---------------------------------------------------
  CONTENEDORES SWIPER
----------------------------------------------------- */

.active_swiper_slide{
  background: #CD1031;
}

/* ============ WIZARD INSTRUCTIVO TIN ============ */

::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}

ion-scroll {
  width: 100% !important;
  height: auto !important;
  white-space: nowrap !important;
}

.posicion_contenedor_categorias {
  bottom: 0;
  border-top-width: 1px;
  border-bottom-width: 0;
  background-position: top;
  height: 44px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9999;
}

.scroll_horizontal_categorias {
  overflow: scroll;
  white-space: nowrap;
  overflow-x: hidden !important;
  width:100%; 
  padding: 9px;
  height: 48px;
}

.contenedor_padre_opciones_categorias {
  position: relative;
  display: inline-block;
  min-width: 52px;
  cursor: pointer;
  min-height: 28px !important;
  line-height: 28px !important;
  margin: 0px;
  border-radius: 4px;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(97,97,97,0.55);
  -moz-box-shadow: 1px 1px 6px 0px rgba(97,97,97,0.55);
  box-shadow: 1px 1px 6px 0px rgba(97,97,97,0.55);
}

.contenedor_opciones_categoria > div {
  padding: 0px 4px;
}

.contenedor_opciones_categoria label {
  display: inline-block;
  cursor: pointer;
  color: #050F37;
  position: relative;
  __padding: 2px 0px 2px 18px;
  padding: 2px 0px 2px 0px;
  font-size: 1em;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contenedor_opciones_categoria .checkbox_swiper label:before {
  border-radius: 3px;
}

.contenedor_opciones_categoria .checkbox_swiper input[type="checkbox"] {
  display: none;
}

.contenedor_opciones_categoria .checkbox_swiper input[type="checkbox"]:checked + label:before {
  display: none;
}

.contenedor_opciones_categoria .checkbox_swiper input[type="checkbox"]:checked + label {
  __background: #CD1031;
  color: #FAFAF8;
  padding: 2px 0px;
}

.background_opcion_categoria {
  background: #CD1031;
}


/* ---------------------------------------------------
  BACKGROUND WIZARD
----------------------------------------------------- */

.background_tin {
  __background: url('../img/background_cinco_rojo.jpg') !important;
  background: url('../img/background_rojo._tres.svg') !important;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  max-width: 100%;
  width: 100%;
  height: 0 auto;
  background-position: center center;
  z-index: 9999;
}

/* ---------------------------------------------------
  POSICION ICONOS WIZARD
----------------------------------------------------- */

.pos_icon_wizard {
  position: relative;
  top: -20px;
}

.pos_icon_wizard_dos {
  position: relative;
  top: -12px;
}

/* ---------------------------------------------------
  WIZARD PASO 1
----------------------------------------------------- */

.contenedor_info {
  position: relative;
  top: -18px;
}

/* ---------------------------------------------------
  WIZARD PASO 3
----------------------------------------------------- */

.background_tin .select_custom {
  height: 2.4rem;
  text-indent: 15px;
  border-radius: 0px;
  border: 2px solid #FAFAF8;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #FAFAF8;
  background-color: transparent;
}

select.select_custom:focus {
  border: 2px solid #FAFAF8 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* ---------------------------------------------------
  DOTS WIZARD
----------------------------------------------------- */

.slide_content_instructivo {
  min-width: 100%;
  width: 100%;
  height: 100%;
}

.slide_content_instructivo .slider-pager .slider-pager-page {
  display: inline-block;
  margin: 0px 1px;
  width: 15px;
  color: #050F37;
  text-decoration: none;
  opacity: ;
}

.slider-pager {
  position: absolute;
  bottom: 55px;
  z-index: 1;
  width: 100%;
  height: 15px;
  text-align: center;
}

/* ---------------------------------------------------
    SELECCIONAR TIENDAS Y CATEGORIAS WIZARD
----------------------------------------------------- */

.contenedor_seleccionar_tiendas, .contenedor_seleccionar_categorias {
  width: 100%;
}

/*.contenedor_tienda, .contenedor_categoria {
  float: left;
  width: 30%;
  margin: 1.5%;
  border-radius: 4px;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  -ms-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
}*/

.contenedor_tienda, .contenedor_categoria {
  float: left;
  width: 30%;
  margin: 1.5%;
  border-radius: 4px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  -ms-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
}

.contenedor_tienda:before, .contenedor_categoria:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.contenido_tienda {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.contenido_categoria {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

/* ---------------------------------------------------
    ESTILOS SELECCIONABLE CHECKBOX TIENDAS
----------------------------------------------------- */

.contenido_tienda input[type="checkbox"] {
  display: none;
}

.contenido_tienda label {
  height: 100%;
  display: block;
  background: white;
  border: 1px solid #FAFAF8;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  -webkit-box-shadow: 0px 3px 10px -2px rgba(250, 250, 248, 0.2);
  box-shadow: 0px 3px 10px -2px rgba(250, 250, 248, 0.2);
  position: relative;
}

.contenido_tienda input[type="checkbox"]:checked + label {
  -webkit-box-shadow: 0px 0px 6px rgba(250, 250, 248, 0.75);
  box-shadow: 0px 0px 6px rgba(250, 250, 248, 0.75);
}

.contenido_tienda input[type="checkbox"]:checked + label::after {
  color: #3d3f43;
  font-family: FontAwesome;
  border: 2px solid #FAFAF8;
  content: "\f00c";
  font-size: 15px;
  position: absolute;
  top: -6px;
  left: 92%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 25px;
  width: 25px;
  line-height: 22px;
  text-align: center;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}



/* ============ TERMINA WIZARD INSTRUCTIVO TIN ============ */

/* ============ VISTA LOGUIN ============ */ 

/* ---------------------------------------------------
  BACKGROUND LOGIN
----------------------------------------------------- */

.background_login {
  background: url('../img/background_login.png') !important;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  max-width: 100%;
  width: 100%;
  height: 0 auto;
  background-position: center center;
  z-index: 9999;
}

/* ---------------------------------------------------
  FORMULARIO LOGIN
----------------------------------------------------- */

.pos_login {
  position: relative;
  top: -15px;
}

/* ---------------------------------------------------
  TITULO LOGIN
----------------------------------------------------- */

.titulo_login {
  position: relative;
  top: -22px;
}

/* ---------------------------------------------------
  BOTON LOGIN FACEBOOK
----------------------------------------------------- */

.btn_facebook {
  width: 45px !important;
  height:45px !important;
  line-height: 62px;
  color: #FFF;
  border-color: transparent;
  position: relative;
  display: inline-block;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  cursor: pointer;
}

.line_height_icono {
  line-height: 35px !important;
  line-height: 44px !important;
  font-size: 18px;
}

/* ============ TERMINA VISTA LOGUIN  ============ */ 

/* ============ VISTA OFERTAS TIN ============ */ 

.padding_cupon_productos {
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

/* ---------------------------------------------------
  TIRILLA CUPON
----------------------------------------------------- */

.borde_cupon {
  position: absolute;
  bottom: 3px;
  left: -1px;
}

svg.borde_cupon {
  width: 100%;
  height: 12px;
}

/* ---------------------------------------------------
  DISEÑO CUPON INFO PRODUCTO
----------------------------------------------------- */

.borde_cupon_uno {
  position: absolute;
  top: -5px;
  left: -1px;
  z-index: 9;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

svg.borde_cupon_uno {
  width: 100%;
  height: 12px;
}

.borde_cupon_dos {
  position: absolute;
  bottom: -5px;
  left: -1px;
}

svg.borde_cupon_dos {
  width: 100%;
  height: 12px;
}

.card_cupon_info {
  position: relative;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.card_cupon_info:before, .card_cupon_info:after {
  content: '';
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background: #FAFAF8;
  border-radius: 64px;
  top: 50%;
  z-index: 1;
}

.card_cupon_info:before {
  left: 0;
  -webkit-transform: translate(-75%, -50%);
      -ms-transform: translate(-75%, -50%);
          transform: translate(-75%, -50%);
}

.card_cupon_info:after {
  right: 0;
  -webkit-transform: translate(75%, -50%);
      -ms-transform: translate(75%, -50%);
          transform: translate(75%, -50%);
}


.card_cupon_detalle {
  position: relative;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.card_cupon_detalle:before, .card_cupon_detalle:after {
  content: '';
  display: block;
  position: absolute;
  height: 35px;
  width: 35px;
  background: #FAFAF8;
  border-radius: 64px;
  top: 50%;
  z-index: 1;
}

.card_cupon_detalle:before {
  left: 0;
  -webkit-transform: translate(-75%, -50%);
      -ms-transform: translate(-75%, -50%);
          transform: translate(-75%, -50%);
}

.card_cupon_detalle:after {
  right: 0;
  -webkit-transform: translate(75%, -50%);
      -ms-transform: translate(75%, -50%);
          transform: translate(75%, -50%);
}

/* ---------------------------------------------------
  ESTADOS TIEMPO CUPON
----------------------------------------------------- */

.tiempo_rojo {
  background-color: #CD1031;
  border-radius: 2px;
}

.tiempo_amarillo {
  background-color: #FFD93E;
  border-radius: 2px;
}

.tiempo_verde {
  background-color: #33E789;
  border-radius: 2px;
}

/* ---------------------------------------------------
  ESTADOS TIEMPO CUPON INTERNO
----------------------------------------------------- */

.tiempo_rojo_cupon {
  background-color: #CD1031;
  border-radius: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.tiempo_amarillo_cupon {
  background-color: #FFD93E;
  border-radius: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.tiempo_verde_cupon {
  background-color: #33E789;
  border-radius: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

/* ---------------------------------------------------
  IMAGEN PRODUCTO BORDER-RADIUS
----------------------------------------------------- */

.full_image_radius {
    width: 100%;
    border-radius: 6px;
    position: relative;
    top: -1px;
}

/* ---------------------------------------------------
  DATO DESCUENTO PRODUCTO
----------------------------------------------------- */

.descuento_producto {
  background-color: rgba(205,16,49,0.9);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 10px 0;
  position: absolute;
  right: -4px;
  text-align: center;
  text-transform: uppercase;
  top: -4px;
}

.descuento_producto span {
  display: block;
  line-height: 14px;
}

.descuento_producto_footer {
  background-color: rgba(205,16,49,0.9);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 10px 0;
  position: relative;
  right: -4px;
  text-align: center;
  text-transform: uppercase;
  top: -4px;
}

.descuento_producto_footer span {
  display: block;
  line-height: 14px;
}

/* ---------------------------------------------------
  BOTON MAPA PRESICION
----------------------------------------------------- */

.boton_presicion {
  background-color: rgba(205,16,49,1);
  border-radius: 50%;
  height: 42px;
  width: 42px;
  padding: 10px 0;
  position: absolute;
  bottom: 15px;
  right: 16px;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}

.boton_presicion span {
  display: block;
  line-height: 14px;
}

/* ---------------------------------------------------
  CONTENEDOR UBICACION
----------------------------------------------------- */

.contenedor_info_ubicacion {
  position: relative;
  display: inline-block;
  min-width: 52px;
  cursor: pointer;
  min-height: 28px !important;
  margin: 0px;
}

/* ---------------------------------------------------
  CUADRADO OFERTAS TINS
----------------------------------------------------- */

.contenedor_ofertas {
  width: 98%;
  margin: 0 auto;
}

.oferta_producto {
  float: left;
  width: 48%;
  margin: 1%;
  position: relative;
  border-radius: 4px;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
}

.oferta_producto:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.contentido_oferta_producto {
  position: absolute;
  width: 100%;
  height: 100%;
}

.img_oferta_producto {
  object-fit: unset;
  width: 100%;
  height: 100%;
}

/* ---------------------------------------------------
  CUADRADO TIENDAS TINS
----------------------------------------------------- */

.contenedor_negocios {
  width: 98%;
  margin: 5px auto;
}

.negocio {
  float: left;
  width: 48%;
  margin: 1%;
  position: relative;
  border-radius: 4px;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
  box-shadow: 0px 0px 5px 0px rgba(160,160,160,1);
}

.negocio:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.contentido_negocio {
  position: absolute;
  width: 100%;
  height: 100%;
}

.img_negocio {
  object-fit: unset;
  width: 100%;
  height: 100%;
}

.img_logo_tienda {
  object-fit: unset;
  width: 100%;
  height: 100%;
}

/* ============ TERMINA VISTA OFERTAS TIN ============ */ 


/* ============ VISTA NEGOCIOS TIN ============ */ 

.contentido_negocio figure.datos_negocio {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0px 0%;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.contentido_negocio figure.datos_negocio * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.contentido_negocio figure.datos_negocio img {
  max-width: 100%;
  vertical-align: top;
}

.contentido_negocio figure.datos_negocio figcaption {
  position: relative;
  background-color: #ffffff;
  padding: 20px 25px 50px;
}

.contentido_negocio figure.datos_negocio h3 {
  position: absolute;
  bottom: 100%;
  text-transform: uppercase;
  padding: 0px 15px;
  line-height: 30px;
  margin: 0;
  left: 0;
}

.contentido_negocio figure.datos_negocio h3 span {
  font-weight: 800;
}

.contentido_negocio figure.datos_negocio h3:before {
  position: absolute;
  left: 100%;
  border-style: solid;
  border-width: 44px 0 0 12px;
  border-color: transparent transparent transparent #000000;
  content: '';
  top: 0;
}

.contentido_negocio figure.datos_negocio .tienda_favorita {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000000;
  padding: 0 5px;
  line-height: 30px;
}

.contentido_negocio figure.datos_negocio .tienda_favorita:before {
  position: absolute;
  right: 100%;
  border-style: solid;
  border-width: 0 12px 30px 0;
  border-color: transparent #000000 transparent;
  content: '';
  top: 0;
}

.contentido_negocio figure.datos_negocio a {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000000;
  line-height: 40px;
  padding: 0 10px;
}

.contentido_negocio figure.datos_negocio a:before {
  position: absolute;
  right: 100%;
  border-style: solid;
  border-width: 0 0 40px 12px;
  border-color: transparent transparent #000000;
  content: '';
  top: 0;
}

.contentido_negocio figure.datos_negocio.gris_oscuro h3,
.contentido_negocio figure.datos_negocio.gris_oscuro a,
.contentido_negocio figure.datos_negocio.gris_oscuro .tienda_favorita {
  background-color: rgba(205,16,49,0.9);
}

.contentido_negocio figure.datos_negocio.gris_oscuro .tienda_favorita:before {
  border-color: transparent rgba(205,16,49,0.9) transparent;
}

.contentido_negocio figure.datos_negocio.gris_oscuro h3:before {
  border-color: transparent transparent transparent rgba(205,16,49,0.9);
}

.contentido_negocio figure.datos_negocio.gris_oscuro a:before {
  border-color: transparent transparent #d67118;
}

.contentido_negocio figure.datos_negocio:hover img,
.contentido_negocio figure.datos_negocio.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* ============ TERMINA VISTA NEGOCIOS TIN ============ */ 

/* ============ VISTA CUPONES TIN ============ */ 

/* ---------------------------------------------------
  DISEÑO CUPON
----------------------------------------------------- */

.cupon {
  position: relative;
  background: #FFF;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  padding: 5px 15px 5px 64px;
  border-radius: 4px;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.cupon:before, .cupon:after {
  content: '';
  display: block;
  position: absolute;
  height: 35px;
  width: 35px;
  background: #FAFAF8;
  border-radius: 64px;
  top: 50%;
  z-index: 1;
}

.cupon:before {
  left: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cupon:after {
  right: 0;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.tirilla_cupon {
  border: 1px dotted #FFF;
  display: block;
  position: absolute;
  width: 50px;
  height: 100%;
  __right: 0;
  left:0;
  top: 0;
  border-radius: 4px;
  background-color: rgba(205,16,49,0.9);
  border-left: 4px dotted #FAFAF8;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.tirilla_cupon:before {
  content: '';
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  background: #FAFAF8;
  border-radius: 64px;
  top: 99%;
  right: 95%;
  z-index: 1;
}

.tirilla_cupon:after {
  content: '';
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  background: #FAFAF8;
  border-radius: 64px;
  bottom: 99%;
  right: 95%;
  z-index: 1;
}

.identificador_cupon {
  height: 100%;
  text-align: center;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 32%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* ---------------------------------------------------
  CONTENEDOR IMAGEN PRODUCTO CUPON
----------------------------------------------------- */

.contenedor_producto_cupon {
  width: 100px;
  height: 80px;
}

.img_producto_cupon {
  -webkit-object-fit: unset;
  -ms-object-fit: unset;
  -o-object-fit: unset;
     object-fit: unset;
  width: 100%;
  height: 100%;
}

/* ---------------------------------------------------
  CONTENEDOR CODIGO BARRAS
----------------------------------------------------- */

.contenedor_codigo_barras {
  width: 100px;
  height: 40px;
}

.img_codigo_barras {
  -webkit-object-fit: unset;
  -ms-object-fit: unset;
  -o-object-fit: unset;
     object-fit: unset;
  width: 100%;
  height: 100%;
}

/* ============ TERMINA VISTA CUPONES TIN ============ */

/* ============ VISTA MIS TINS ============ */ 

.info_mis_tins {
  position: relative;
  left: -14px;
  z-index: 2;
}

.border_cupon_mis_tins {
  position: absolute;
  bottom: -2px;
  left: -1px;
}

svg.border_cupon_mis_tins {
  width: 100%;
  height: 12px;
}

.contenedor_estado {
  border-radius: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

/* ============ TERMINA VISTA MIS TINS ============ */  

/* ============ MEDIAQUERIES TIN APP ============ */ 

/* ============================             S4             ============================== */

@media screen and (min-width: 320px) and (max-width: 480px) {

/* ============ ESTILOS GLOBALES TIN APP ============ */

/* ---------------------------------------------------
  TAMAÑO FUENTE TXT
----------------------------------------------------- */

.txt_xl {
  font-size: 19px;
}

.txt_lg {
  font-size: 24px;
}

.txt_md {
  font-size: 21px;
}

.txt_sm {
  font-size: 14px;
}

.txt_xs {
  font-size: 13px;
}

.txt_xs_mini {
  font-size: 11px;
}

/* ============ TERMINA ESTILOS GLOBALES TIN APP ============ */

}

/* ============================             S6             ============================== */

@media screen and (min-width: 375px) and (max-width: 667px)  {

/* ============ ESTILOS GLOBALES TIN APP ============ */

/* ---------------------------------------------------
  TAMAÑO FUENTE TXT
----------------------------------------------------- */

.txt_xl {
  font-size: 19px;
}

.txt_lg {
  font-size: 24px;
}

.txt_md {
  font-size: 21px;
}

.txt_sm {
  font-size: 14px;
}

.txt_xs {
  font-size: 13px;
}

.txt_xs_mini {
  font-size: 11px;
}

/* ============ TERMINA ESTILOS GLOBALES TIN APP ============ */

}

/* ============================           S6 PLUS          ============================== */

@media screen and (min-width: 414px) and (max-width: 736px)  {

/* ============ ESTILOS GLOBALES TIN APP ============ */

/* ---------------------------------------------------
  TAMAÑO FUENTE TXT
----------------------------------------------------- */

.txt_xl {
  font-size: 19px;
}

.txt_lg {
  font-size: 24px;
}

.txt_md {
  font-size: 21px;
}

.txt_sm {
  font-size: 14px;
}

.txt_xs {
  font-size: 13px;
}

.txt_xs_mini {
  font-size: 11px;
}

/* ============ TERMINA ESTILOS GLOBALES TIN APP ============ */

}

/* ============ TERMINA MEDIAQUERIES TIN APP ============ */ 